<div>
    <h4>Special data :</h4>
    <pre>{{mySpecialData | json}}</pre>
</div>

<hr>

<div class="row"
    *ngIf="todo">
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                <img src="https://picsum.photos/600/200?image={{todo.id}}
                ">
                <span class="card-title">{{todo.title}}</span>
            </div>
            <div class="card-content">
                <h3>{{todo.title | titlecase}} </h3>

                <input type="text"
                    #todoDescription
                    [value]="description"
                    placeholder="Something to say ?">

                <ng-container [ngSwitch]="todo.completed">
                    <ng-container *ngSwitchCase="true">
                        <a (click)=" todo.completed = !todo.completed" class="waves-effect green darken-3 btn">
                            <i
                                class="material-icons right">check_box</i>Well Done 😁</a>
                    </ng-container>
                    <ng-container *ngSwitchCase="false">
                        <a (click)=" todo.completed = !todo.completed" class="waves-effect  orange darken-4 btn"><i
                                class="material-icons right">check_box_outline_blank
                            </i>Just do it 😡</a>
                    </ng-container>

                </ng-container>


            </div>
            <div class="card-action">

                <a class="waves-effect light-blue darken-4 btn-large" 
                (click)="save(todoDescription.value)">Save my changes</a>

                <a   (click)="getBackToAllTodos()" class="right waves-effect grey darken-4 btn-large">
                    <i class="material-icons right">format_align_justify
                    </i>All todos</a>
            </div>
        </div>
    </div>
</div>