<h1>La liste !</h1>

<div class="row">
    <div class="col s12 m6">

        <h4>Todos</h4>
        <div class="collection"
            *ngIf="todos">
            <p *ngFor="let todo of todos"
                class="collection-item">

                <input type="checkbox"
                    [(ngModel)]="todo.completed">

                <a [routerLink]="['/todo-detail', todo.id]">
                    {{todo.title}}
                    <span class="badge"
                        [ngSwitch]="todo.completed">
                        <ng-container *ngSwitchCase="true">
                            😁
                        </ng-container>
                        <ng-container *ngSwitchCase="false">
                            😡
                        </ng-container>
                    </span>

                </a>
            </p>

        </div>
    </div>

    <div class="col s12 m6">

        <h4>Todos with resolver</h4>
        <div class="collection"
            *ngIf="todos">
            <p *ngFor="let todo of todos"
                class="collection-item">

                <input type="checkbox"
                    [(ngModel)]="todo.completed">

                <a [routerLink]="['/todo-detail-resolved', todo.id]">
                    {{todo.title}}
                    <span class="badge"
                        [ngSwitch]="todo.completed">
                        <ng-container *ngSwitchCase="true">
                            😁
                        </ng-container>
                        <ng-container *ngSwitchCase="false">
                            😡
                        </ng-container>
                    </span>

                </a>
            </p>
        </div>

    </div>

</div>