.sidenav {
    z-index: 3;
    background-color: #ededed;
    transition: 0.25s ease-out;
    &.showMenuPlease {
        transform: translateX(0%);

    }
    li {
        &.logo {
            text-align: center;
            padding-top: 32px;
            padding-bottom: 56px;
            background-color: #039be5;
            i {
                color: #fff !important;
                float: none;
            }
        }
        &.active {
            background-color: #0372aa;
            &>a {
                color: #fff;
            }
        }
        .collapsible-header {
            padding: 0 32px;
        }
    }
    .collapsible-body li a {
        padding-left: 64px;
    }
}
.sidenav-bg {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(#000000,  0.8)
}

.top-nav {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 56px;
    height: 62px;
    cursor: pointer;
}
.site-title {
    margin: 0;
}

main {
    position: relative;
    z-index: 0;
    padding-left: 0;
    &.menuShowed {
        padding-left: 300px;
    }
}
@media only screen and (min-width: 993px) {
    .container {
        padding-left: 300px;
    }
}