.sidenav {
    background-color: #ededed;

    &.showMenuPlease {
        transform: translateX(0%);
    }

    li {
        &.logo {
            text-align: center;
            padding-top: 32px;
            padding-bottom: 56px;
            background-color: #039be5;
        
            i {
                color: #fff !important;
                float: none;
            }
        }
        &.active {
            background-color: #0372aa;
            & > a {
                color: #fff;
            }
        }
        .collapsible-header {
            padding: 0 32px;
        }
    }
    .collapsible-body li a {
        padding-left: 64px;
    }
    
}

.top-nav {
    position: fixed;
    top: 10px;
    right: 10px;
}